
.DS_Store

InteractiveBooks.xcworkspace/xcuserdata/akiracaio.xcuserdatad/xcdebugger/

Pods/

InteractiveBooks.xcodeproj/project.xcworkspace/xcuserdata/akiracaio.xcuserdatad/UserInterfaceState.xcuserstate

InteractiveBooks.xcodeproj/xcuserdata/akiracaio.xcuserdatad/xcschemes/xcschememanagement.plist

InteractiveBooks.xcworkspace/xcuserdata/akiracaio.xcuserdatad/UserInterfaceState.xcuserstate

InteractiveBooks/Application/Resources/Generators/Assets.xcassets/icon/Contents.json
